<div class="monster_index">


  <div class='info'>
    <% if params[:cr] %>
      <h3>Challenge Ratings Sorted By:</h3>
      <% params[:cr].each do |cr| %>
        <%= cr %><br>
      <% end %>
      <% end %>
    </div>
    <div class='info'>
      <% if params[:environment] %>
        <h3>Environment Sorted By:</h3>
        <% params[:environment].each do |environment| %>
          <%= environment %><br>
        <% end %>
      <% end %>
    </div>


<%= button_to 'Too many? Filter Monsters.', games_path, class: 'ui orange button', method: :get %>
<div class='ui stackable items'>
  <div class='paginate'>
<%= paginate @monsters %>
  </div>
<% @monsters.each do |monster| %> 
<div class='item'>
  <%= link_to monster.name, monster_path(monster.id), class: 'ui ribbon label' %><br>
  <div class='content'>
   <%= image_tag(monster.photo_url, width: 300, class: 'image') if monster.photo_url %>
  <%= monster.type %><br>
  <b>Thrives in:</b> <%= monster.environment%><br>
  <b>Exp:</b> <%= monster.exp %> points <br>
 <b> Challenge Rating:</b> <%= fraction(monster.cr) %><br><br>
  <%= monster.visual_desc %>
</div>
</div>
  <% end %>
</div>

</div>