  <div style="background: url(<%= @monster.photo_url %>); background-repeat: no-repeat; background-position: 95% 25%; background-size: 500px;">


<div class='ui two column page grid'>


<div class='column'>
  <p> Description: <%= @monster.description %></p>
</div>

<div class='column' style='width: 300px;'>
  <h2><%= @monster.name.titleize %> </h2>
  <p>Type: <%= @monster.type.titleize %></p>
  <p>Environment: <%= @monster.environment.titleize %></p>
 <p> <%= button_to 'Edit this monster!', edit_monster_path(@monster), method: :get %></p>
 
</div>


</div>

</div>