
<div style="background: url(<%= @monster.photo_url %>); background-repeat: no-repeat; background-position: 90% 0%; background-size: 500px;">
<div class='show_monsters_container'
<h2><%= @monster.name %> </h2>

<p>Type: <%= @monster.type.titleize %></p>
<p> Environment: <%= @monster.environment %></p>
<p> Description: <%= @monster.description %></p>
</div>

</div>