  <!-- <div style="background: url(<@%= @monster.photo_url %>); background-repeat: no-repeat; background-position: 95% 25%; background-size: 500px;"> -->


<div class='ui two column page grid'>


<div class='column'>
  <p> Description:</p> 
  <p><%= @monster.visual_desc %></p>
  <p><%= @monster.description %></p>
</div>

<div class='column'>
  <h2><%= @monster.name.titleize %> </h2>
  <p>Type: <%= @monster.type.titleize %></p>
  <p>Environment: <%= @monster.environment.titleize %></p>
  <p>Challenge Rating: <%= fraction(@monster.cr) %></p>
  <p> Experience: <%= @monster.exp %> </p>
  <div class='back'><%= image_tag(@monster.photo_url) %></div>
 <p> <% if @current_nerd && @current_nerd.name == 'davida' %>
  <%= button_to 'Edit this monster!', edit_monster_path(@monster), method: :get, class: 'ui black button' %></p>
  <% end %>
 
</div>


</div>

</div>