<!DOCTYPE html>
<html>
<head>
  <title>MonsterParty</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= @body_class %>">
  <div class="ui block header">
    <h1>
    <% if @current_nerd %>
      Welcome, <%= @current_nerd.name.titleize %> 
      <div class="green ui buttons">
      <%= button_to 'Log out!', signout_path, class:'ui mini button' %>
      <%= button_to 'Edit your profile!', edit_nerd_path(@current_nerd.id), class:'ui mini button', method: :get %>
    <% else %>
      Welcome, Nerds <%= button_to 'Sign in', '/signin', class:'ui mini green button' %>
    <% end %>
      </h1>
      <div class='menu'>
        <%= link_to 'All Monsters', monsters_path %>
      </div>
      <div class='search'>
        <%= form_tag(monsters_path, method: :get) do %>
          <%= text_field_tag :search_monsters, params[:search_monsters], class: 'ui small input' %>
           <%= submit_tag "Search by name", :name => nil, class: "ui mini orange button" %>
           <% end %>
      </div>
  </div>  <!-- this closes the block header tag -->
 <!-- <#%= params.inspect %> -->

   <%= flash[:notice] %>

<%= yield %>

</body>
</html>
