<!DOCTYPE html>
<html>
<head>
  <title>MonsterParty</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= @body_class %>">
  <h1>
  <% if @current_nerd %>
   Welcome, <%= @current_nerd.name %>
   <%= button_to 'Log out!', signout_path %>
  <% else %>
    Welcome, nerds
      <%= button_to 'Sign in', '/signin' %>
  <% end %>
</h1>
   
<%= params.inspect %>

   <%= flash[:notice] %>

<%= yield %>

</body>
</html>
